<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ehsan Website</title>
</head>

<body>
    {{> header}}
    <p>Ehsan is a talente software developer working in IT industry!</p>

    {{> footer }}
</body>

</html>